body {
  background: #decdc3;
  width: 100%;
  margin-top: 5%;
}
.card {
  font-family: "Titillium Web", sans-serif;
  display: block;
  padding: 15px 0px;
  margin: 0 auto;
  max-width: 800px;
  background: #dee0e2;
  border-radius: 10px;
}

.temp-options {
  display: block;
  position: relative;
  top: 20px;
  font-family: "Lato", sans-serif;
  text-align: right;
}

h2 {
  margin-top: 20px;
  font-weight: 900;
  font-size: 50px;
  color: #48a3b8;
  text-transform: capitalize;
}
h4 {
  font-weight: 700;
  font-size: 30px;
  color: #6c757d;
}
.time-and-date {
  font-size: 15px;
  font-style: bold;
  color: #ea5455;
}

.time-and-date:first-letter {
  text-transform: uppercase;
}
.weather-today {
  font-family: "Lato", sans-serif;
  font-size: 45px;
  font-weight: 300;
  color: #212121;
}
.weather-today:first-letter {
  text-transform: capitalize;
}
.units {
  position: relative;
  top: -34px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
}
.temp-range-today,
.wind-today,
.humidity-today {
  font-size: 15px;
  font-weight: 200;
  color: #212121 0.7;
}
.today-forecast {
  margin-bottom: 0;
}

.forecast {
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  color: #212121 0.7;
}
.max-hourly-degrees {
  font-weight: bold;
}
li {
  list-style-type: none;
  margin-inline-start: 0px;
}
#current-weather-icon {
  font-size: 15px;
}
.fas {
  color: #48a3b8;
}
.github-link {
  display: block;
  text-align: center;
  font-style: 8px;
  font-weight: 200;
  font-family: "Lato", sans-serif;
}

.weather-today .active {
  color: black;
  cursor: default;
}
.weather-today .active:hover {
  text-decoration: none;
}
.fa-search-location {
  font-size: 20px;
  color: #ea5455;
  padding-top: 9px;
}
